<div id="<%= topic.id %>">
  <%= link_to topic.title, topic %>
	<%= topic.description %>
  <%= link_to '', edit_topic_path(topic), class: 'icon-edit' %>
  <%= link_to '', topic_path(topic), confirm: 'Are you sure?', remote: true, method: :delete, class: 'icon-remove' %>
</div>