<h2>Topic</h2>

<p>
  <b>Title:</b>
  <%= @topic.title %><br/>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<p>
<% if @topic.comments.any? %>
	<% @topic.comments.each do |comment| %>
	<% params = {topic_id: @topic, id: comment} %>
  <tr>
    <td><%= comment.description %></td>
    <td><%= link_to 'Edit'   , edit_topic_comment_path(params) %></td>
    <td><%= link_to 'Destroy', topic_comment_path(params), confirm: 'Are you sure?', method: :delete %></td>
  </tr><br/>
	<% end %>
<% else %>
	<p>This Topic wasn't commented yet.</p>
<% end %>
</p>

<%= render "comments/form", topic: @topic, comment: @topic.comments.new %>

<%= link_to 'Back', topics_path %>