<div class='comments_container'>
	<h2>Topic: <%= @topic.title %> - <%= @topic.description %></h2><br/>

	<div class='form_comment'><%= render "comments/form", topic: @topic, comment: Comment.new %></div>

	<div id='comment' class='content'>
		<% if @topic.comments.any? %>
			<%= render @topic.comments %>
		<% else %>
			<p>This Topic wasn't commented yet.</p>
		<% end %>	
	</div>
	
	<%= link_to 'Back', topics_path, class: 'btn btn_back_comments' %>
</div>