<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
					<% if user_signed_in? %>
					  Logged in as <strong><%= current_user.email %></strong>.
					  <%= link_to 'Edit profile', edit_user_registration_path %> |
					  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
					<% else %>
					  <%= link_to 'Sign up', new_user_registration_path %> |
					  <%= link_to 'Login', new_user_session_path %>
					<% end %>
        </ul>
				<% if user_signed_in? %>
					<p class="navbar-text pull-right">Logged in as <a href="<%= user_path(current_user) %>"><%= current_user.email %></a></p>
				<% end %>
      </div>
    </div>
  </div>
</div>