<div id="<%= gallery.id %>">
	<%= link_to gallery.name, gallery_path(gallery) %>
	<%= gallery.description %>
  <%= link_to '', edit_gallery_path(gallery), class: 'icon-edit' %>
  <%= link_to '', gallery, method: :delete, remote: true, :confirm => 'Are you sure?', class: 'icon-remove' %>
</div>