<h2>Gallery: <%= @gallery.name.capitalize %> - <%= @gallery.description %></h2></br>

<div class='form_documents'>
	<label><strong>New Document</strong></label>
	<%= render 'documents/form', gallery: @gallery, document: Document.new %>
</div>

<div class='div_thumbnails'>
	<ul class='thumbnails'>	
		<% @gallery.documents.each do |document| %>
			<li class='span3'><%= render 'documents/document', document: document %></li>
		<% end %>
	</ul>
</div>

<br/><%= link_to 'Back', galleries_path, :class => 'btn' %>