<h2>Gallery: <%= @gallery.name.capitalize %> - <%= @gallery.description %></h2>

</br>
<label><strong>New Document</strong></label>
<%= render 'documents/form', gallery: @gallery, document: Document.new %><br/><br/>

<ul class='thumbnails'>	
	<% @gallery.documents.each do |document| %>
		<li class='span3'><%= render 'documents/document', document: document %></li>
	<% end %>
</ul>

<br/><%= link_to 'Back', galleries_path, :class => 'btn' %>